.content-wrapper {
    max-width: 76.875rem;
    margin: 0 auto;
}

/* Flex Box */

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.justify-center {
    justify-content: center;
}

.justify-space-bw {
    justify-content: space-between;
}

.items-start {
    align-items: start;
}

.items-center {
    align-items: center;
}

.items-stretch {
    align-items: stretch;
}

.items-end {
    align-items: end;
}