@import url("../base/reset.css");
@import url("../base/typography.css");
@import url("../theme/colors.css");
@import url("../layout/layout.css");
@import url("../layout/columns.css");
@import url("../components/header.css");
@import url("../components/buttons.css");
@import url("../components/services-card.css");
@import url("../components/case-studies-card.css");
@import url("../components/faq-card.css");
@import url("../components/team-card.css");
@import url("../utilities/utilities.css");

/* Hero Section */

.hero-column {
    width: --columns(0rem, 2);
}

.hero-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* Brand Logos */

.brand-logo {
    filter: brightness(0);
    opacity: 80%;
    transition: all 300ms ease;

    &:hover {
        opacity: 100%;
        filter: brightness(100%);
    }
}

/* Services Card Container */

#faq-card-container,
#team-card-container,
#testemonials-container,
#services-card-container,
#case-studies-card-container {
    margin-top: 4.5rem;
}

#services-card-container>* {
    width: --columns(2rem, 2);
}

/* Perposals Section */

#perposal-section .content-wrapper {
    height: 21.6875rem;
    border-radius: 2.8125rem;
}

/* Case Studies Section */

#case-studies-card-container .case-studies-card {
    width: --columns(0rem, 3);
}

/* Team Section */

#team-card-container>* {
    width: --columns(4rem, 3);
}

#team-btn {
    margin-top: 2rem;
}

/* Testemonials Section */

#testemonials-container {
    height: 30.0625rem;
    border-radius: 2.8125rem;
    overflow: hidden;
}

.swiper {
    width: 100%;
    height: 100%;
}

#testemonials-container .swipper-btn-next,
#testemonials-container .swipper-btn-prev {
    color: var(--color-green);
}

.swiper-slide .comment {
    max-width: 37.875rem;
    max-height: 16.625rem;
    background-image: url("../../images/Testemonials/message.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

#author {
    align-self: start;
}