@import url("../base/reset.css");
@import url("../base/typography.css");
@import url("../theme/colors.css");
@import url("../layout/layout.css");
@import url("../layout/columns.css");
@import url("../components/header.css");
@import url("../components/buttons.css");
@import url("../components/services-card.css");
@import url("../utilities/utilities.css");

/* Hero Section */

.hero-column {
    width: --columns(0rem, 2);
}

.hero-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* Brand Logos */

.brand-logo {
    filter: brightness(0);
    opacity: 80%;
    transition: all 300ms ease;

    &:hover {
        opacity: 100%;
        filter: brightness(100%);
    }
}

/* Services Card Container */

#services-card-container {
    margin-top: 4.5rem;
}

#services-card-container>* {
    width: --columns(2rem, 2);
}

/* Perposals Section */

#perposal-section .content-wrapper  {
    height: 21.6875rem;
    border-radius: 2.8125rem;

}