.team-card {
    border: 0.0625rem solid var(--color-black);
    border-radius: 2.8125rem;
    border-bottom: 0.3125rem solid var(--color-black);
}

.team-card .member-experience {
    border-top: 0.0625rem solid var(--color-black);
}