*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img,
audio,
video,
svg {
    display: block;
}

input,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
}